@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer base {
  .XL-text {
    @apply text-5xl md:text-5xl font-sans text-cBlue;
  }

  .L-text {
    @apply text-2xl md:text-xl font-sans text-cBlue
  }
  
  .M-text {
    @apply text-xl md:text-lg font-sans text-cBlue
  }

  .small-screen-nav-button {
    @apply pt-2 pb-6 flex flex-col items-center gap-1 text-sm primary-hover font-medium primary-hover;
  }

  .small-screen-nav-button-icon {
    @apply w-7 h-7;
  }

  .big-screen-nav-button {
    @apply py-6 flex flex-col items-center gap-1 primary-hover font-medium;
  }

  .primary-hover {
    @apply hover:text-gray-700 transition cursor-pointer;
  }
}

@layer utilities {
  .shadow-center-sm {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .shadow-center-md {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .shadow-center-lg {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  }
  
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}
